body {
    margin: 0;
    padding: 0;
    background-color: #a4b0be;
}

html {
    margin: 0;
    padding: 0;
}

#canvas-main {
    background-color: #a4b0be;
}

.div-ui {
    background-color: #ced6e0;
    font-family: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
}

.div-ui div {
    margin-bottom: 0.5em;
}

input[type="text"], input[type=number] {
    width: 8em;
}
