body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

html {
    margin: 0;
    padding: 0;
}

#canvas-main {
    background-color: gray;
}

.div-ui {
    background-color: gray;
    font-family: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.div-ui div {
    margin-bottom: 0.5em;
}

input[type="text"], input[type=number] {
    width: 8em;
}
